body {
    font-family: 'Playfair Display', serif;
    font-family: 'Titillium Web', sans-serif;
}

.navbar .nav-item .nav-link {
    color: #fff;
}

figure {
    padding: 0 ! important;
}

.servicios {
    position: relative;
    background-position: center;
    height: 100vh;
}

.servicios::before {
    content: "";
    background: url(../img/servicios_peque.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .5;
}

.acercaDe {
    position: relative;
    background-position: center;
    height: 100vh;
}

.acercaDe::before {
    content: "";
    background: url(../img/equipo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .6;
}

.contacto {
    position: relative;
    background-position: center;
    height: 100vh;
}

.contacto::before {
    content: "";
    background: url(../img/contacto_background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .5;
}

.text {
    position: relative;
    color: black;
    text-align: justify;
    padding-left: 30px
}

.text-lg {
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

@media (max-width:576px) {
    .text-acc {
        color: black;
        text-align: justify;
        font-size: 11px;
    }
    .card-sm {
        width: 120px;
        margin: auto auto;
        height: 134px;
    }

    .text-sm {
        font-size: 10px;
        margin-bottom: 0.1rem
    }
    figure {
        margin: 0 0 0.1rem;
    }
    .btn-sm {
        opacity: 1;
        bottom: 0px;
        font-size: 8px;
        height: 20px;
        width: 90px;
    }
    .topmargin-sm {
        margin-top: 19px;
    }
}


@media (min-width: 320px) and (max-height:600px) {
    .card-sm {
        width: 130px;
        margin: auto auto;
        height: 117px;
    }
    .text-sm {
        font-size: 7px;
        margin-bottom: 0.1rem
    }

    figure {
        margin: 0 0 0.1rem;
    }
    .btn-sm {
        opacity: 1;
        bottom: 0px;
        font-size: 7px;
        height: 18px;
        width: 90px;
    }
    .topmargin-sm {
        margin-top: 19px;
    }


}

@media (min-width: 576px) {
    .text-acc {
        color: black;
        text-align: justify;
        font-size: 15px;
    }
    .card-sm {
        width: 120px;
        margin: auto auto;
        height: 130px;

    }
    .text-sm {
        font-size: 10px;
        margin-bottom: 0.1rem
    }

    figure {
        margin: 0 0 0.1rem;
    }
    .btn-sm {
        opacity: 1;
        bottom: 0px;
        font-size: 8px;
        height: 20px;
        width: 90px;
    }
    .topmargin-sm {
        margin-top: 19px;
    }
}

@media (min-width: 768px) {
    .topmargin-sm {
        margin-top: 30px;
    }
    .text-acc {
        color: black;
        text-align: justify;
        font-size: 15px;
    }
    .card-sm {
        width: 210px;
        margin: auto auto;
        height: 230px;
    }
    .text-sm {
        font-size: 15px;
        margin-bottom: 0.3rem
    }
    figure {
        margin: 0 0 0.1rem;
    }
    .btn-sm {
        opacity: 1;
        bottom: 0px;
        font-size: 14px;
        height: 30px;
        width: 145px;
    }
    .topmargin-sm {
        margin-top: 30px;
    }

}

@media (min-width: 992px) {
    .topmargin-sm {
        margin-top: 30px;
    }
}

.form-control {
    font-size: 14px;
    border: 1px solid #f5f5f5;
    padding: 15px;
    border-radius: 2px;
    height: auto;
}

.form-control:focus {
    border: 1px solid #1a1a1a;
    outline: none;
    box-shadow: none;
}

.topmargin-xs {
    margin-top: 15px;
}

.topmargin-lg {
    margin-top: 60px;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb:hover {
    background: #414141;
}

.accordion .card .btn-link {
    text-decoration: none;
}

.accordion .card .btn-link:hover {
    color: #FFFFFF;
}

.accordion .card .card-header button i {
    float: right;
}

.accordion .card-header {
    background-color: #6C757D;
}

.accordion .card-header h2 button {
    font-weight: 600;
    box-shadow: none;
}

.accordion .card {
    border-left: 1px solid #6C757D;
    border-right: 1px solid #6C757D;
    border-bottom: 1px solid #6C757D;
    border-top: 1px solid #6C757D;
}

.hidden {
    opacity: 0;
}

.navbar {
    transform-style: preserve-3d;
    transform: perspective(800px);
    transition: all 0.8s ease;
}

.sertx,
.colabtx,
.contx {
    position: relative;
    opacity: 0;
    left: -750px;
}

.accCard,
.colabcard,
.concard {
    position: relative;
    opacity: 0;
    bottom: -750px;
}

.btna {
    position: relative;
    opacity: 0;
    bottom: -850px;
}

.btnsa {
    position: relative;
    opacity: 0;
    bottom: -850px;
}
