    body {
        font-family: 'Playfair Display', serif;
        font-family: 'Titillium Web', sans-serif;
    }
    
    .navbar .nav-item .nav-link {
        color: #fff;
    }
    
    #contacto {
        position: relative;
        background-position: center;
        min-height: 320px;
    }
    
    #contacto::before {
        content: "";
        background: url(../img/contacto_background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: .5;
    }
    
    .text {
        position: relative;
        color: black;
        text-align: justify;
        padding-left: 30px
    }
    
    .text-lg {
        color: black;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    
    .form-control {
        font-size: 14px;
        border: 1px solid #f5f5f5;
        padding: 15px;
        border-radius: 2px;
        height: auto;
    }
    
    .form-control:focus {
        border: 1px solid #1a1a1a;
        outline: none;
        box-shadow: none;
    }
    
    .topmargin-xs {
        margin-top: 15px;
    }
    
    .topmargin-sm {
        margin-top: 30px;
    }
    
    .topmargin-lg {
        margin-top: 60px;
    }
    
    body::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    
    body::-webkit-scrollbar-track {
        background: #f1f1f1;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    
    body::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
    body::-webkit-scrollbar-thumb:hover {
        background: #414141;
    }


    .accordion {
        width: 70%;
        max-width: fit-content;
        margin: auto;
        transition: all 0.4s ease;
    }

    .accordion i.fa-caret-down{
        right: 12px;
        left: auto;
    }

    img {
        position: center;
        width: 60%;
        height: 50%;
    }


